<?php
$host     = "localhost";
$username = "root";     
$password = "";         // Kosongin aja karena default XAMPP itu kosong -> ini tuh kalo mysql kalian ada passwordnya guys kalo belom pernah isi pw brrti kosong
$database = "zoo_db";   // Samain sama nama database kalian nanti

$conn = mysqli_connect($host, $username, $password, $database);
if (!$conn) {
    die("Koneksi ke database gagal: " . mysqli_connect_error());
}
?>


// 1. boleh liat yang di grup yak

//1. git clone kayak biasa
// 2. duplicate file ini (config.php.example)
// 3. rename file yang diduplicate tadi jadi (config.php) doang.


